<style>
    footer {
        background-color: #e6e2df;
        color: #565d64;
        padding: 40px 20px;
        text-align: center;
        margin-top: 40px;
        font-family: 'Poppins', sans-serif;
      }

      footer h5 {
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: rgb(77, 103, 77);
      }

      footer p {
        font-size: 0.9rem;
      }

      footer .social-icons a {
        margin: 0 10px;
        color: #565d64;
        font-size: 1.2rem;
        transition: color 0.3s;
      }

      footer .social-icons a:hover {
        color: rgb(77, 103, 77);
      }
</style>
<footer>
    <div class="container">
      <h5>About  <img src="/images/logo2.0.jpg" alt="POTTY APPAREL" style="height: 40px; width: auto;">
    </h1></h5> 
      <p>Your one-stop shop for trendy and fashionable clothing. From casual wear to exclusive styles, we’ve got you covered for every occasion.</p>
      <div class="social-icons">
        <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
      </div>
      <p class="mt-4">&copy; 2024 Potty Apparels. All Rights Reserved.</p>
    </div>
  </footer>